<tr>
  <td></td>
  <td><%= kase.case_type_description %></td>
  <td><%= kase.accessionNumber %></td>
  <td><%= kase.accessionedOn.short_date_format %></td>
  <td><%= kase.hospitalLabId %></td>
  <td><%= kase.patient_last_name + ", " + kase.patient_first_name %></td>
  <td><%= kase.numberOfBlocks %></td>
  <td><%= kase.numberOfSlides %></td>
  <td></td>
  <td><%= kase.status %></td>
  <td></td>
  <td></td>
</tr>
